# camelot / pdf parsing
opencv-python-headless # camelot dependency // fixes issue https://github.com/camelot-dev/camelot/issues/286
camelot-py[base]
PyPDF2<3.0 # temporary fix for https://stackoverflow.com/a/74957139
pandas==1.5.*

# server
# Flask~=2.2.2
# waitress~=2.1.2

# database
SQLAlchemy~=1.4.45
psycopg2-binary

# web scraping
requests~=2.28
tenacity~=8.1

# utils that should be removed
tqdm

# found in root folder's requirements.txt:
# sh~=1.14.3
# setuptools~=57.4.0